{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block header %}
    <div class='text-center'>
        <h1><p class='bg-primary'>History of the detected movments</p></h1></br>
    </div>
{% endblock header %}

{% block content %}
    <form action='/delete_history' method='POST'>
        <div class='text-info'>
            <h4>
                {% for data in history | reverse %}
                    {{loop.index}}. {{ data }} <br/>
                {% endfor %}
            </h4></br>
        </div>
        <h3>Are you sure to delete the history?</h3></br>
        <button type='submit' class='btn btn-primary' name='delete_history' value='deleting'>Delete</button>
    </form>
{% endblock content %}

