{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block header %}
    <div class='text-center'>
        <h1><p class='bg-primary'>Welcome to the catwatcher app!</p></h1>
    </div>
{% endblock header %}

{% block content %}
    <h3>Choose what to do:</h3></br>
    <div class='row'>
        <div class='col-lg-4'>
            <p>Go for a ride and observation</p>
            <a href='{{ url_for('rover_camera') }}' class='btn btn-default' role='button'>
                Rover & camera  
            </a>
        </div>
        <div class='col-lg-4'>
            <p>Check the latest movement</p>
            <a href='{{ url_for('motion_detector') }}' class='btn btn-default' role='button'>
                Check motion detection
            </a> 
        </div>
    </div>
{% endblock content %}

