{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block header %}
    <h1>State of PIR motion detector</h1>
{% endblock header %}

{% block content %}
    <h3>{{ message }} </h3>
    <h4>{{ history[-1] }}</h4></br>
    <div class='row'>
        <div class='col-lg-4'>
            <p>Check the history</p>
            <a href='{{ url_for('check_history') }}' class='btn' role='button' name='show_history' value='show_history'>
                Check
            </a>
        </div>
        <div class='col-lg-4'>
            <p>Delete the history</p>
            <a href='{{ url_for('delete_history') }}' class='btn' role='button' name='delete_history' value='delete_history'>
                Delete
            </a>
        </div>
    </div>
{% endblock content %}

