{% extends 'base.html' %}

{% block title %}
    {{ rover_camera }}
{% endblock title %}

{% block header %}
    <div class='text-center'>
        <h1><p class='bg-primary'>I've finished following cat</p></h1>
    </div>
{% endblock header %}

{% block content %}
    <h3>So tired of chasing cat. Need to rest :)</h3></br>
    <div class='row'>
        <div class='col-lg-4'>
            <p>Go back to main page</p>
            <a href='{{ url_for('catwatcher') }}' class='btn btn-default' role='button'>
                Go back
            </a>
        </div>
    </div>
{% endblock content %}

