{% extends 'base.html' %}

{% block title %}
    {{ rover_camera }}
{% endblock title %}

{% block header %}
    <h1>I've finished following cat</h1>
{% endblock header %}

{% block content %}
    <h3>So tired of chasing cat. Need to rest :)</h3></br>
    <div class='row'>
        <div class='col-lg-4'>
            <p>Go back to main page</p>
            <a href='{{ url_for('catwatcher') }}' class='btn' role='button'>
                Go back
            </a>
        </div>
    </div>
{% endblock content %}

